<h1>here we edit</h1>

<form action="/submit" method="POST">
    <input type="text" name="new_title" placeholder="pos1_title"><br>
    <input type="text" name="new_post" placeholder="pos1_post"><br>
    <input type="text" name="new_timePost" placeholder="pos1_timePost"><br>
    <input type="submit" value="submit changes">
</form>